# Environments & Caches
.venv/
__pycache__/
.pytest_cache/

# Data & Artifacts (Use DVC instead of Git)
data/
artifacts/
!artifacts/
!artifacts/models/
!artifacts/models/*.dvc
mlruns/

# Local MLflow Database & Logs
mlflow
*.db
*.sqlite
*.log